---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import AboutTheTheme from "../components/AboutTheTheme.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | Astro`} slot="meta" />
  <Fragment slot="main">
    <Intro />
    <AboutTheTheme />
  </Fragment>
</PageLayout>
