---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    這個網站使用 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
      Blogster</a> 網頁樣板並託管於
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#E24329] to-[#FCA326] hover:after:bg-gradient-to-r hover:after:from-[#E24329] hover:after:to-[#FCA326]"
      href={"https://gitlab.com/TN-TechNoob/tn-technoob.gitlab.io"}
      target="_blank"
    >
      Gitlab</a>
    <br>
      Copyright © 2024 TN_TechNoob. All rights reserved. 版權所有© 2024 TN_TechNoob
    </br>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
