/*
  This is a customised bare minimum styles that include only the brands used in this template.
  If you need more brands, either use brands.min.css file or copy the brands needed to this file.
*/
:root,
:host {
  --fa-style-family-brands: 'Font Awesome 6 Brands';
  --fa-font-brands: normal 400 1em/1 'Font Awesome 6 Brands';
}

@font-face {
  font-family: 'Font Awesome 6 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.ttf") format("truetype");
}

.fab,
.fa-brands {
  font-weight: 400;
}


.fa-youtube:before {
  content: "\f167";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-bilibili:before {
  content: "\e3d9";
}

.fa-discord:before {
  content: "\f392";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-github:before {
  content: "\f09b";
}

.fa-steam:before {
  content: "\f1b6";
}